.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #ffffff;
}
.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: #ffffff;
}
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #ffffff;
}
.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::before {
  border-left-color: #ffffff;
}

.tooltip-inner {
  background-color: #ffffff;
  width: 200px;
}

.list-group-item {
  text-align: left;
}

.list-group-item.active {
  background-color: #ffffff;
  color: #ed1d72 !important;
  border-color: #f2f2f2;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  color: #99a2a7;
  font-weight: bold;
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
  color: #ea1979;
  font-weight: bold;
}
